<title><%= page_title %></title>

<meta property="og:url"                content="https://dev.headstarter.bg" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="<%= page_title %>" />
<meta property="og:description"        content="Вземи твоя headstart в кариерното ориентиране и бизнеса. Премини успешно интервю въпросите на HRите и кандидатствай за работа бързо и лесно с Headstarter." />
<meta property="og:image"              content="https://dev.headstarter.bg/static/assets/logos/logo.png" />

<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Вземи твоя headstart в кариерното ориентиране и бизнеса. Премини успешно интервю въпросите на HRите и кандидатствай за работа бързо и лесно с Headstarter.">
<meta name="robots" content="index, follow">
<meta name="google-site-verification" content="xmaEaZhUiovOWqtPN_bFu5ajsKf5OmboRL6VxWG-YFU">

<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/logos/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/logos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/logos/favicon-16x16.png">
<link rel="manifest" href="/static/assets/logos/site.webmanifest">
<link rel="mask-icon" href="/static/assets/logos/safari-pinned-tab.svg" color="#4dacc3">
<link rel="shortcut icon" href="/static/assets/logos/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Headstarter">
<meta name="application-name" content="Headstarter">
<meta name="msapplication-TileColor" content="#4dacc3">
<meta name="msapplication-config" content="/static/assets/logos/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
</style>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/theme/vendor/font-awesome/css/all.min.css">
<link rel="stylesheet" type="text/css" href="/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="/theme/vendor/tiny-slider/tiny-slider.css">
<link rel="stylesheet" type="text/css" href="/theme/vendor/glightbox/css/glightbox.css">
<link rel="stylesheet" type="text/css" href="/theme/css/style.css" id="style-switch">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">