<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Вземи твоя headstart в кариерното ориентиране и бизнеса. Премини успешно интервю въпросите на HRите и кандидатствай за работа бързо и лесно с Headstarter.">
<meta name="robots" content="index, follow">
<meta name="google-site-verification" content="xmaEaZhUiovOWqtPN_bFu5ajsKf5OmboRL6VxWG-YFU">

<title><%= page_title %></title>