
<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/theme/vendor/tiny-slider/tiny-slider.js"></script>
<script src="/theme/vendor/glightbox/js/glightbox.js"></script>
<script src="/theme/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>

<!-- Template Functions -->
<script src="/theme/js/functions.js"></script>