<div class="d-inline-block card <%= classNames %>" style="margin: 10px;">
    <img src="/static/assets/logo.png" class="card-img-top" alt="Logo" style="width: 40%; border-radius: 100% !important;" />
    <div class="card-body">
        <h5 class="card-title"><%= job.name %></h5>
        <p class="card-text"><%= job._id %></p>
        <a href="!#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>