<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {page_title: page_title}); %>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

  <style>
    html, body {
      height: 100%;
      --big-text-max-font: calc(min(100vw / 16, 100vh / 3));
      --normal-text-max-font: calc(var(--big-text-max-font) / 2);
      --icon-max-font: var(--big-text-max-font);
    }
    section {
      font-family: 'Roboto';
      display: flex;
      width: 100%;
      height: 100%;
      margin: auto;
      font-size: var(--normal-text-max-font) !important;
      align-items:center;
      justify-content:center;
      text-align: center;
    }
    .big {
      font-family: 'Ubuntu';
      font-size: var(--big-text-max-font) !important;
    }
    i {
      font-size: var(--normal-text-max-font) !important;
    }
    p {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>

<section>
  <p><span class="big">Очаквайте скоро!</span> <br>
    Междувременно ни последвайте: <br>
    <a aria-label="Официалната страница на Headstarter във Facebook" class="btn btn-xl shadow px-2 text-facebook" href="https://www.facebook.com/headstarterbg/"><i class="fab fa-fw fa-2xl fa-facebook"></i></a>
    <a aria-label="Официалната страница на Headstarter в Instagram" class="btn btn-xl shadow px-2 text-instagram" href="https://www.instagram.com/headstarter_company/"><i class="fab fa-fw fa-2xl fa-instagram"></i></a>
    <a aria-label="Официалната страница на Headstarter в LinkedIn" class="btn btn-xl shadow px-2 text-linkedin" href="https://www.linkedin.com/company/headstarter"><i class="fab fa-fw fa-2xl fa-linkedin"></i></a>
  </p>
</section>

<%- include('../partials/js'); %>

</body>
</html>